.page_small_title {
	line-height: 1.5em;
	height: 1.55em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.glider_p_title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.clc_price {
	color: #900;
	font-weight: bold;
}

#bestelknop_clc{
	display:block;
	background-color:#eb9d52;
	color:#fefefe;
	text-decoration:none;
	margin:0;
	padding: 0.5em;
	transition:background-color 0.25s ease-out,color 0.25s ease-out;
	text-align:center
}

#bestelknop_clc:hover{
	background-color:#14679e;
	color:#fefefe
}